/*
Project Name: Blank Template
Client: Your Client
Author: Simone Vijgen
Developer @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     background-color: #FEFEFA;
     
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  /*border: 5px solid red;*/
  width: 1200px;
  height: 600px;
  background-color: #131e27;
}

header h1 {
  font-size: 48px;  
  font-weight: 800;
  color: white;
  margin-left: 100px;
  padding-top: 25px;
}

header h2 {
  font-size: 48px;
  font-weight: 600;
  color: white;
  padding-top: 50px;
  margin-left: 225px;
  margin-bottom: 130px;
}

.getitnow {
  font-size: 28px;
  color: black;
  border-radius: 5px;
  font-weight: 800;
  background-color: #f9e42e;
  margin-left: 450px;
  margin-right: 500px;
  text-align: center;
  margin-bottom: 500px;
  padding-top: 10px;
  padding-bottom: 10px;

}

section {
  font-size: 40px;
  font-weight: 600;
  /*border: 5px solid green;*/
  background-color: #f0efef;
  height: 700px;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  margin-left: 125px;
  padding-top: 100px;

}

p {
  font-size: 28px;
  font-weight: 300;
  color: #606161;
  margin-left: 130px;
  margin-right: 420px;
  margin-bottom: 35px;
  padding-top: 25px;
}

ul li {
  font-size: 28px;
  font-weight: 300;
  color: #606161;
  margin-left: 250px;
  margin-right: 450px;
  padding-top: 15px;
  list-style-type: disc;
}

section .sectiontwo {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  width: 1200px;
  height: 390px;
}

.sectiontwo blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: white;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 75px;
}

.sectiontwo span {
  font-size: 36px;
  font-weight: 600;
  margin-left: 450px;
  color: white;
  padding-top: 10px;
  text-align: center;
}

section .sectionthree {
  background-color: #f9e42e;
  height: 150px;
  width: 1200px;
  margin-top: -315px;
  padding-top: 50px;
}

section .button {
  background-color: #033048;
  height: 50px;
  width: 350px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  
}

.sectionthree a {
  color: white;
  font-size: 24px;
  font-weight: 800;
  margin-left: 100px;
  margin-right: 25px;
  margin-top: 50px;
  padding-top: -100px;

}

footer {
  background-color: #121212;
  width: 1200px;
  height: 380px;
  margin-top: -550px;
}


h4 {
  font-size: 48px;
  font-weight: 800;
  color: #f9e42e;
  text-align: center;
  padding top: 100px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




